[submodule "amiller-tinyduplex"]
	path = amiller-tinyduplex
	url = https://gist.github.com/amiller/0a569536c2b5e99b307b853cbba810f6
[submodule "sprites/amiller-sprites"]
	path = sprites/amiller-sprites
	url = https://github.com/amiller/sprites
[submodule "perun/Perun"]
	path = perun/Perun
	url = https://github.com/PerunEthereum/Perun
[submodule "sprites/sprites/amiller-sprites"]
	path = sprites/sprites/amiller-sprites
	url = https://github.com/amiller/sprites
